//statuses
p.status { margin-bottom: 0;}

.status span {
  display: block;
  font-weight: 700;
  padding: 0 10px;
  position: relative;
  top: -1px;
  text-align: center;
  width: 80px;
  margin-right: 20px;
  line-height: initial;
}

.cya-status.status{
  vertical-align:top
}
.not-started {
  text-transform: uppercase;
  border-color: #6f777b;
  color: #6f777b;
  background-color: white;
}

.incomplete {
  text-transform: uppercase;
  border-color: #f47738;
  color: #f47738;
  background-color: white;
}

.cya-status span.complete {
  display: inline-block;
  font-family: "nta", Arial, sans-serif;
  padding: 2px 5px 0;
  size: 19px;
  font-weight: 700;
  text-transform: none;
  line-height: 1.14286;
  letter-spacing: 1px;
  color: #fff;
  background-color: #005ea5;
  float: right;
}

.cya-status span.rejected {
  display: inline-block;
  font-family: "nta", Arial, sans-serif;
  padding: 2px 5px 0;
  size: 19px;
  font-weight: 700;
  line-height: 1.14286;
  letter-spacing: 1px;
  color: #0B0C0C;
  float: right;
}

