@import 'partials/_variables';
@import 'partials/_base';

@import 'partials/_forms';
@import 'partials/_tabular-data';
@import 'partials/_typography';

@import 'partials/_utilities';

@import 'partials/_shame';

@import 'partials/heading';

@import 'location-autocomplete.min';
@import 'partials/scheme__list';

@import 'partials/_lists';
@import 'partials/_palette';
@import 'partials/_focus';

.form-group textarea {
  width: 100%;
  margin-bottom: 5px;
}

.govuk-error-message {
    font-weight: 700;
    line-height: 1.25;
    display: block;
    margin-bottom: 15px;
    clear: both;
    color: #d4351c;
}
.govuk-box-highlight{
background: #00703c;
}

/*
====================================
Fix to render radio buttons visible in IE8
====================================
*/
@media \0screen\,screen\9 {
.multiple-choice input {filter: none}
}

/*
====================================
Fix to remove links urls visible in print/pdfs
====================================
*/
@media print { a[href]::after { content: none !important; }

header nav ul , #global-header .header-proposition a.menu {
 display: none;
}

}